body {
    font-family: 'Arial', sans-serif;
}

.logo {
    width: 60px;
    height: auto; /* Mantém a proporção */
    max-width: 100%; /* Garante que a logo não ultrapasse o contêiner */
}

.contact-info {
    text-align: right;
    font-size: 0.9em;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    margin-right: 1rem;
}

main {
    padding-top: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%; /* Ajusta a imagem para ocupar a largura completa da div */
    height: auto; /* Mantém a proporção da imagem */
}

.product-image {
    max-height: 300px; /* Limita a altura das imagens */
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço sem distorção */
}

.card h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.btn-dark {
    background-color: #333;
    border: none;
}

footer {
    margin-top: 50px;
    background-color: #f8f9fa;
}

footer p {
    margin: 0;
}

footer .social-icons a {
    margin-right: 10px;
    color: #000;
}

footer .social-icons a:hover {
    text-decoration: underline;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  .price {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
  }